@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.albummain{
    width: 100%;
    height: 100%;
    background-color: #121212;
    overflow: overlay;
    position: relative;
    /* background-color: aqua; */
}
.backbutton{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 35px;
    background-color: black;
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
/* .backbutton:hover {
    background-color: blueviolet;
} */
.backbutton img{
    width: 15px;
    height: auto;
}
.toptitlediv{
    height: 100%;
    margin-left: 30px;
    font-size: 1.4em;
    font-family: "montserrat";
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0px 20px 0px 10px;
}
.albumcontainer{
    position: relative;
    width: 100%;
    /* height: 55%; */
    height: 330px;
    padding-top: 30px;
    /* border-bottom: 1px solid rgba(255,255,255,0.5); */
    /* background-color: white; */
}
.topview{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90vh;
    /* background-color: aqua; */
}
.bottomview{
    position: absolute;
    top: 330px;
    left: 0;
    width: 100%;
    /* background-color: transparent; */
    background-color: rgba(18,18,18,0.3);
    /* background-color: aqua; */
}
.albumart{
    position: absolute;
    left: 35px;
    bottom: 20px;
    width: 230px;
    height: 230px;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
}
.albumart img{
    width: 100%;
    height: auto;
}
.titlecontainer{
    position: absolute;
    left: 280px;
    bottom: 20px;
    width: calc(100% - 300px);
    height: 230px;
    /* background-color: black; */
    /* background-color: rgb(127, 255, 212); */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.albumname-small,.albumname-large,.albumname-extrasmall{
    width: 100%;
    /* height: 90%; */
    /* background-color: blue; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0px 10px 5px 0px;
}
.albumname-large p, .albumname-small p, .albumname-extrasmall p{
    /* width: 680px;
    height: 190px; */
    font-weight: 700;
    font-family: "montserrat";
    /* font-family: "poppins"; */
    color: white;
    letter-spacing: -5px;
    padding-right: 5px;
    padding-left: 5px;
    /* background-color: aqua; */
    /* display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; */
    /* word-wrap: break-word; */
    /* white-space: nowrap;
    overflow: hidden; */
    /* text-overflow: ellipsis; */
}
.albumname-small p {
    font-size: 4em;
}
.albumname-large p {
    font-size: 4.5em;
}
.albumname-extrasmall p{
    font-size: 3.5em;
}
.albumartist{
    width: 100%;
    height: 10%;
    /* background-color: aqua; */
    padding: 0px 10px 0px 5px;
    display: flex;
    align-items: center;
}
.albumtype,.albumartistname,.year,.noofsongs,.albumartistname-true,.albumartistname-false{
    font-size: 0.8em;
    font-weight: 600;
    font-family: "montserrat";
    color: white;
    text-decoration: none;
}
.albumartistname-true{
    cursor: pointer;
}
.albumartistname-true:hover{
    text-decoration: underline;
}
.albumtype{
    width: 100%;
    height: 20px;
    /* background-color: blueviolet; */
    padding-left: 5px;
}
.separator,.artistseparator{
    width: 5px;
    height: 5px;
    background-color: rgba(255,255,255,0.3);
    border-radius: 50%;
}
.separator{
    margin: 10px;
    margin-top: 13px;
}
.artistseparator{
    margin: 6px 8px 0px 8px;
}
.year{
    /* margin-top: 2px; */
    font-size: 0.9em;
    color: rgba(255,255,255,0.7);
}
.noofsongs{
    color: rgba(255,255,255,0.7);
}
.bottomcontainer{
    /* position: absolute;
    bottom: 0;
    left: 0; */
    width: 100%;
    height: 100px;
    position: relative;
    /* background-color: aliceblue; */
    display: flex;
    align-items: center;
}
.playcontainer,.likecontainer,.playcontainerpause{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    position: relative;
    cursor: pointer;
    margin-left: 35px;
    /* background-color: transparent; */
    background-color: rgba(56,202,153,1);
    /* background-color: rgba(0,200,0,0.9); */
    /* background-color: rgba(0,128,0,0.8); */
    transition: background-color 0.3s ease-in-out;
}
.playcontainer:hover, .playcontainerpause:hover{
    /* background-color: rgba(127,255,212,0.7); */
    background-color: rgba(56,202,153,0.8);
}
.playcontainerpause{
    justify-content: center;
    align-items: center;
}
.playcontainerpause img{
    width: 25px;
    height: auto;
}
.likecontainer{
    margin-left: 0px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
}
.playcontainer{

}
.playcontainer img{
    position: absolute;
    top: 51%;
    left: 52%;
    transform: translate(-50%,-50%);
    width: 25px;
    height: auto;
}
.likecontainer img{
    width: 30px;
    height: auto;
}
.openercontrol,.customopener{
    width: 25px;
    height: 20px;
    /* background-color: white; */
    margin-left: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.openercontrol.hidden{
    display: none;
}
.customopener{
    margin-left: 10px;
    /* background-color: aliceblue; */
}
.opener1,.opener2,.opener3{
    width: 5px;
    height: 5px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 50%;
}
.openercontrol:hover .opener1,.openercontrol:hover .opener2,.openercontrol:hover .opener3,
.customopener:hover .opener1,.customopener:hover .opener2,.customopener:hover .opener3{
    background-color: rgba(255,255,255,0.8);
}
.addqueuebutton{
    /* position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    right: 50px; */
    width: auto;
    height: 40px;
    margin-left: 30px;
    color: rgba(255,255,255,0.5);
    cursor: pointer;
    font-size: 0.7em;
    font-family: "montserrat";
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px 5px 20px;
    /* background-color: black; */
    background-color: rgba(0,0,0,0.5);
    border-radius: 20px;
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.addqueuebutton:hover{
    background-color: rgba(0,0,0,0.8);
    color: rgba(255,255,255,0.7);
}
/* .playcontainer:hover{
    width: 65px;
    height: 65px;
    margin-left: 33px;
} */
/* .playcontainer:hover{
    background-color: blueviolet;
} */
.dummy{
    width: 100%;
    height: 1000px;
    /* background-color: wheat; */
}

.table{
    width: 100%;
    /* height: 500px; */
    margin-top: 10px;
    /* background-color: aqua; */
    padding: 10px 50px 10px 50px;
}
.innertable{
    width: 100%;
    height: 100%;
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: column;
}
.titlerow{
    width: 100%;
    height: 50px;
    /* background-color: black; */
    display: flex;
    margin-bottom: 10px;
}
.hash,.nameofthesong,.duration{
    height: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 0.8em;
    font-family: "montserrat";
    font-weight: 500;
    color: rgba(255,255,255,0.5);
}
.hash{
    width: 5%;
    height: 100%;
    justify-content: center;
    /* background-color: white; */
}
.nameofthesong{
    width: 65%;
    height: 100%;
    padding-left: 20px;
    /* background-color: blue; */
}
.duration{
    width: 30%;
    height: 100%;
    justify-content: flex-end;
    padding-right: 20px;
    /* background-color: aqua; */
}

.songrow{
    width: 100%;
    height: 60px;
    /* background-color: aliceblue; */
    display: flex;
    margin: 5px 0px 5px 0px;
    border-radius: 5px;
    /* transition: background-color 0.1s ease-in-out; */
    cursor: pointer;
}
/* .songrow:hover{
    background-color: rgba(255,255,255,0.1);
} */
.number,.songname,.songduration{
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 0.8em;
    font-family: "montserrat";
    font-weight: 500;
    color: rgba(255,255,255,0.8);
}
.number{
    width: 5%;
    justify-content: center;
    /* background-color: aliceblue; */
}
.playinganim,.pausedanim,.playinanim-queue,.pausedanim-queue{
    width: 20px;
    height: 20px;
    /* background-color: black; */
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}
.playinanim-queue,.pausedanim-queue{
    position: absolute;
    left: 0;
    top: 0;
}
.div1,.div2,.div3,.div4{
    width: 3px;
    height: 0px;
    /* background-color: aquamarine; */
    /* background-color: #339DFF; */
    background-color: #066bff;
}
.div5,.div6,.div7,.div8{
    width: 3px;
    height: 3px;
    border-radius: 50%;
    /* background-color: aquamarine; */
    /* background-color: #339DFF; */
    background-color: #066bff;
}
.div1{
    animation: div1 0.5s ease-in-out 0s infinite normal forwards;
}
.div2{
    animation: div2 0.5s ease-in-out 0s infinite normal forwards;
}
.div3{
    animation: div1 0.5s ease-in-out 0.7s infinite normal forwards;
}
.div4{
    animation: div2 0.5s ease-in-out 0.7s infinite normal forwards;
}
@keyframes div1 {
    0%{
        height: 0px;
    }
    50%{
        height: 10px;
    }
    70%{
        height: 20px;
    }
    100%{
        height: 0px;
    }
}
@keyframes div2 {
    0%{
        height: 5px;
    }
    50%{
        height: 0px;
    }
    75%{
        height: 20px;
    }
    100%{
        height: 0px;
    }
}
.songname{
    width: 65%;
    /* background-color: aliceblue; */
    flex-direction: column;
}
.song,.artistlist{
    width: 100%;
    height: 50%;
    display: flex;
    padding-left: 20px;
    /* font-size: 0.8em; */
    font-family: "montserrat";
    /* font-weight: 500; */
    /* color: rgba(255,255,255,0.8); */
}
.song{
    align-items: flex-end;
    padding-bottom: 2px;
    /* background-color: blue; */
    font-size: 1.2em;
    /* color: rgba(255,255,255,1); */
}
.artistlist{
    align-items: flex-start;
    font-size: 0.9em;
    padding-top: 1px;
    color: rgba(255,255,255,0.7);
    /* background-color: blueviolet; */
}
.artistpara,.artistpara-true,.artistpara-false{
    text-decoration: none;
}
.artistpara-true:hover{
    text-decoration: underline;
}
.songduration{
    width: 30%;
    justify-content: flex-end; 
    padding-right: 40px;
}
.beforesongduration{
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}
.beforesongduration.hidden,.nothing{
    display: none;
}
.beforesongresult{
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 30px; */
    /* background-color: aqua; */
}
.beforesongresult.hidden,.nothing{
    display: none;
}
.songopenercontrol{
    width: 25px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.songopener1,.songopener2,.songopener3{
    width: 5px;
    height: 5px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 50%;
}
.songopenercontrol:hover .songopener1,.songopenercontrol:hover .songopener2,.songopenercontrol:hover .songopener3{
    background-color: rgba(255,255,255,0.8);
}
.endduration{
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.copyright1,.copyright2{
    width: 100%;
    height: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* padding-left: 35px; */
    /* background-color: blue; */
    font-size: 0.5em;
    font-family: "montserrat";
    font-weight: 500;
    /* color: rgba(255,255,255,0.5); */
    color: #909090;
}
.copyright1 img,.copyright2 img{
    width: 10px;
    height: 10px;
    margin-right: 10px;
}
.copyright1{
    margin-top: 50px;
}
.copyright2{
    margin-bottom: 30px;
}


.morealbumdiv{
    width: 100%;
    /* background-color: white; */
    margin: 20px 0px 20px 0px;
}
.morebydisplay{
    width: 100%;
    height: 50px;
    /* background-color: blue; */
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "montserrat";
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: -1px;
    padding-left: 35px;
    margin-bottom: 10px;
}






.newalbum{
    width: 1800px;
    height: auto;
    /* overflow-y: overlay; */
    padding: 0px 60px 0px 60px;
    background-color: #030303;
    /* background-color: white; */
}
/* .newalbum::-webkit-scrollbar{
    width: 5px;
} */
.backbuttonview{
    position: absolute;
    top: 25px;
    left: 0;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    /* background-color: #339DFF; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(255,255,255,0.2); */
    background-color: #303030;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
}
.backbuttonview:hover{
    background-color: #404040;
}
.backbuttonview img{
    width: 20px;
    height: auto;
}
.topalbumview{
    position: relative;
    width: 100%;
    height: 320px;
    /* background-color: #339DFF; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.coverview{
    width: 260px;
    height: 260px;
    border-radius: 3px;
}
.coverview img{
    width: 100%;
    height: auto;
}
.detailsview{
    width: calc(100% - 320px);
    height: 260px;
    /* background-color: blue; */
    margin-left: 40px;
    display: flex;
    justify-content: flex-start;
    /* align-items: flex-end; */
    align-items: center;
    /* padding-bottom: 40px; */
}
.innerdetailsview{
    width: 800px;
    height: auto;
    /* background-color: #339DFF; */
    display: flex;
    flex-direction: column;
}
.albumnameview{
    width: 100%;
    height: auto;
    font-size: 2em;
    font-weight: 700;
    color: white;
    padding: 5px 5px 10px 5px;
    /* letter-spacing: -2px; */
    letter-spacing: -1px;
}
.detailsoneview{
    width: 100%;
    height: 20px;
    /* background-color: blue; */
    display: flex;
}
.albumtype,.albumartistview,.albumyear{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.95em;
    font-weight: 500;
    color: #909090;
    padding: 0px 5px;
}
.content-separator{
    width: 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-separator div{
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #909090;
}
.buttonholder{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: #339DFF; */
    padding-left: 5px;
}
.playbuttonview{
    width: 150px;
    height: 35px;
    border-radius: 2px;
    /* background-color: #339DFF; */
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 0.9em;
    font-weight: 600;
    cursor: pointer;
    border: none;
}
.playbuttonview img, .addtoqueue img{
    width: 15px;
    height: auto;
    margin-right: 5px;
}

.addtoqueue{
    width: 200px;
    height: 35px;
    margin-left: 20px;
    border-radius: 2px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.8em;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid white;
}

.opener-holder{
    width: 50px;
    height: 35px;
    margin-left: 10px;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}


.bottomalbumview{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.newsongrow{
    width: 100%;
    height: 50px;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    transition: background-color 0.1s ease-in-out;
    /* cursor: pointer; */
}
/* .newsongrow:hover{
    background-color: #202020;
} */
.outerindex,.songnameview,.artistnameview,.streams,.durationview{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.outerindex{
    width: 5%;
    /* margin-right: 2%; */
    /* background-color: #066bff; */
}
.index{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: #909090;
    font-size: 0.9em;
}
.outerindeximg{
    width: 15px;
    height: auto;
    cursor: pointer;
}
.outerindeximg.hidden{
    display: none;
}
.songnameview{
    /* width: 33%; */
    width: 30%;
    /* background-color: blue; */
}
.songnameview div{
    width: 100%;
    height: auto;
    padding-right: 50px;
    color: white;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.9em;
}
.artistnameview{
    /* width: 30%; */
    width: 25%;
    /* background-color: aqua; */
}
.artistnameview div{
    width: 100%;
    height: auto;
    padding-right: 50px;
    color: #909090;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.9em;
}
.streams{
    /* width: 5%; */
    width: 10%;
    /* background-color: #066bff; */
}
.durationview{
    position: relative;
    /* width: 25%; */
    width: 20%;
    /* background-color: blue; */
}
.opener-container{
    position: absolute;
    top: 0;
    right: 80px;
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.durationcontainer{
    position: absolute;
    top: 0;
    right: 10px;
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: #909090;
    font-size: 0.9em;
    /* background-color: #030303; */
}


