.newhome{
    /* width: 100%; */
    width: 1800px;
    height: auto;
    background-color: #030303;
    color: white;
    padding: 30px 50px 100px 50px;
}

.titlename{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-size: 1.8em;
    font-weight: 700;
    /* background-color: blue; */
    /* margin-top: 20px; */
    /* padding-left: 30px; */
}
/* .homecontainer{
    width: 100%;
    background-color: blue;
    padding: 0px 0px 30px 0px;
    margin-top: 20px;
    height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
} */
.homecontainer{
    width: 100%;
    /* background-color: blue; */
    /* padding: 0px 0px 30px 0px; */
    /* margin-top: 20px; */
    /* height: 350px; */
    min-height: 350px;
    display: grid;
    grid-template-columns: repeat(6,15%);
    grid-column-gap: calc((100% - 90%) / 5);
}
@media screen and (min-width: 1600px) {
    .homecontainer{
        min-height: 380px;
    }
    /* .homecontainer{
        grid-template-columns: repeat(7,13%);
        grid-column-gap: calc((100% - 91%) / 6); 
    } */
}

.homealbum{
    /* width: 15%; */
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
}
.innerhomealbum{
    width: 100%;
    height: 100%;
    /* cursor: pointer; */
}
.homeartcover{
    width: 100%;
    height: auto;
    position: relative;
    cursor: pointer;
}
.homeartcover img{
    width: 100%;
    height: auto;
    border-radius: 4px;
}
.homedummyshadow{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0), rgba(0,0,0,0));
    transition: opacity 0.2s ease-in-out;
}
.homeartcover:hover .homedummyshadow{
    opacity: 1;
}
.homealbumname,.rpalbumname{
    width: 100%;
    height: auto;
    margin-top: 15px;
    font-size: 0.9em;
    font-weight: 500;
    letter-spacing: -0.1px;
    color: white;
    padding-right: 10px;
}
.homealbumname:hover{
    text-decoration: underline;
}
.homeartistname{
    width: 100%;
    height: auto;
    margin-top: 5px;
    font-size: 0.8em;
    /* letter-spacing: -0.5px; */
    color: rgba(255,255,255,0.7);
    display: flex;
}
.homeartistname span{
    padding-right: 10px;
}

.homeplaybutton,.homeplaybuttonfixed{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px 20px 20px 0px;
    /* background-color: #066bff; */
}
.homeplaybuttonfixed{
    opacity: 1;
}
.homeplaybutton{
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
.homeartcover:hover .homeplaybutton{
    opacity: 1;
}
.innerhomeplaybutton{
    /* width: 40px; */
    width: 30%;
    /* height: 40px; */
    height: 30%;
    display: flex;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
    border-radius: 50%;
    transition: background-color 0.2s ease-in-out;
}
.innerhomeplaybutton:hover{
    background-color: rgba(0,0,0,1);
}
.innerhomeplaybutton img{
    width: 40%;
    height: auto;
}


.homeopener,.tileopener{
    position: absolute;
    width: 25px;
    height: 20px;
    top: 10px;
    right: 25px;
    /* background-color: white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
.tileopener{
    position: relative;
    top: 0;
    left: 0;
    opacity: 1;
    /* background-color: #909090; */
}
.homeartcover:hover .homeopener{
    opacity: 1;
    /* transition: opacity 0.2s 0.2s ease-in-out; */
}
.homeopener1,.homeopener2,.homeopener3,
.tileopener1,.tileopener2,.tileopener3{
    width: 5px;
    height: 5px;
    background-color: rgba(255,255,255,0.7);
    border-radius: 50%;
}
/* .tileopener1,.tileopener2,.tileopener3{
    background-color: rgba(255,255,255,0.7);
} */
.homeopener:hover .homeopener1,
.homeopener:hover .homeopener2,
.homeopener:hover .homeopener3,
.tileopener:hover .tileopener1,
.tileopener:hover .tileopener2,
.tileopener:hover .tileopener3{
    background-color: rgba(255,255,255,1);
}



.hugetitlename{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* background-color: blue; */
    /* margin-bottom: 20px; */
}
.top-title{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    /* background-color: aliceblue; */
    color: #909090;
    font-size: 1em;
    font-weight: 500;
}
.bottom-title{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-size: 1.8em;
    font-weight: 700;
}

.quickpick-container{
    width: 100%;
    height: auto;
    margin-bottom: 80px;
    padding-top: 20px;
}
.quickpick-grid{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3,32%);
    grid-column-gap: calc((100% - 96%) / 2);
    grid-row-gap: 5px;
    /* background-color: blue; */
}

.quickpickrow{
    width: 100%;
    height: 60px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: blue; */
}
.eachinquick{
    /* width: 30%; */
    width: 100%;
    /* height: 100%; */
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 3px;
    /* background-color: rgba(255,255,255,0.1); */
}
.tile-art{
    /* width: 60px; */
    width: 55px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 10px; */
    /* margin-right: 5px; */
    position: relative;
    /* background-color: aliceblue; */
}
.tile-art img{
    /* width: 40px; */
    width: 35px;
    height: auto;
    border-radius: 2px;
    /* border-radius: 50%; */
}
.tiledummyshadow,.keepdummyshadow{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    /* background-color: rgba(255,255,255,0.05); */
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.keepdummyshadow{
    opacity: 1;
}
.tiledummyshadow img, .keepdummyshadow img{
    width: 18px;
    height: auto;
    cursor: pointer;
    /* position: absolute; */
}
.eachinquick:hover .tiledummyshadow{
    opacity: 1;
}
.tile-details,.tile-details-short{
    width: calc(100% - 70px);
    height: 100%;
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.tile-details-short{
    width: calc(100% - 130px);
}
.tile-title{
    width: 100%;
    height: 35%;
    /* height: 40%; */
    /* background-color: aqua; */
    /* display: flex;
    justify-content: flex-start;
    align-items: flex-end; */
    color: white;
    font-weight: 500;
    font-size: 0.9em;
    letter-spacing: -0.1px;
    padding-right: 5px;
    /* padding-top: 5px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tile-artist{
    width: 100%;
    height: 35%;
    /* height: 40%; */
    /* background-color: aliceblue; */
    /* padding-top: 3px; */
    color: #909090;
    font-weight: 500;
    font-size: 0.8em;
    /* letter-spacing: -0.5px; */
    padding-right: 5px;
    padding-top: 2px;
    display: flex;
    align-items: center;
}
.tile-artist p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 5px;
}

.tile-last,.tile-last-hidden{
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    position: relative;
}
.tile-last-hidden{
    display: none;
}


.small-loader{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aliceblue; */
}
.inner-small-loader{
    width: 200px;
    height: 100%;
    /* background-color: aliceblue; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.s-one,.s-two,.s-three{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 5px;
    background-color: rgba(255,255,255,0.5);
}
.s-one{
    animation: loader 0.5s ease-in-out 0s infinite normal forwards;
}
.s-two{
    animation: loader 1s ease-in-out 0.25s infinite normal forwards;
}
.s-three{
    animation: loader 1s ease-in-out 0.75s infinite normal forwards;
}
@keyframes loader {
    0%{
        background-color:rgba(255,255,255,0.5);
    }
    50%{
        background-color: white;
    }
    /* 60%{
        background-color: aqua;
    } */
    100%{
        background-color: rgba(255,255,255,0.5);
    }
}

.tile-button{
    /* width: 40px; */
    width: 30px;
    /* height: 40px; */
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    border-radius: 50%;
}


.home-separator{
    width: 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 6px;
    /* margin: 0px 5px; */
    margin-right: 5px;
    /* background-color: aliceblue; */
}
.home-separator div{
    width: 5px;
    height: 5px;
    background-color: rgba(255,255,255,0.3);
    border-radius: 5px;
}



.full{
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.holder{
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform-origin: 0%; */
    perspective: 100px;
    transform: rotateY(40deg);
}
.holder img{
    width: 100%;
    height: auto;
}


.logo-container{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* background-color: aqua; */
}
.logo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: logofade 0.5s ease-in-out 1s 1 normal forwards;
}
@keyframes logofade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.logo img{
    width: 170px;
    height: auto;
    margin-right: 5px;
}
.logo p{
    font-size: 3em;
    font-weight: 400;
    font-family: "anton";
    color: white;
}
.opening-loader{
    width: 200px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.outer-container{
    position: relative;
    width: 100%;
    height: 2px;
    /* border-radius: 50px; */
}
.inner-container{
    position: absolute;
    top: 0;
    left: -50%;
    width: 50%;
    height: 100%;
    background-color: white;
    animation: innerloader 1s linear 0s infinite normal forwards;
}
@keyframes innerloader{
    0%{
        left: -50%;
    }
    100%{
        left: 150%;
    }
}
.opening-loader.hidden{
    display: none;
}


.keyboard-container{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.9);
}
.keyboard{
    width: 700px;
    height: 400px;
    background-color: #1e2429;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 50px 5px rgba(0,0,0,1);
}
.keyboard-title{
    width: 100%;
    height: 20%;
    font-size: 0.9em;
    font-weight: 600;
    font-family: "montserrat";
    display: flex;
    align-items: flex-end;
    padding-left: 40px;
    padding-bottom: 20px;
    color: white;
}
.shortcuts{
    width: 100%;
    height: 80%;
    /* background-color: #066bff; */
    padding: 0px 40px;
}
.shortcuts-bottom{
    width: 100%;
    height: 20%;
    /* background-color: aliceblue; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 40px;
}
.bottom-button{
    width: 80px;
    height: 35px;
    border-radius: 2px;
    outline: none;
    border: none;
    color: white;
    font-size: 0.9em;
    font-family: "montserrat";
    background-color: #066bff;
    cursor: pointer;
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.shortcuts-grid{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2,50%);
    padding-top: 20px;
}
.each-shortcut{
    width: 100%;
    height: 40px;
    margin: 2px 0px;
    /* background-color: #066bff; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shortcut-name{
    color: #909090;
    font-size: 0.9em;
    font-family: "montserrat";
}
.shortcut-keys{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}
.key{
    width: auto;
    height: 20px;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 2px;
    padding: 2px 5px;
    color: #909090;
    font-size: 0.7em;
    font-family: "montserrat";
    margin-right: 5px;
    background-color: #252525;
}


.rp-button,.rp-buttonfixed{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0px 20px 20px 0px; */
}
.rp-buttonfixed{
    opacity: 1;
}
.rp-button{
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}
.homeartcover:hover .rp-button{
    opacity: 1;
}
.innerrpbutton{
    width: 35px;
    /* width: 30%; */
    height: 35px;
    /* height: 30%; */
    display: flex;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(0,0,0,0.7); */
    border-radius: 50%;
    transition: background-color 0.2s ease-in-out;
}
.innerhomeplaybutton:hover{
    background-color: rgba(0,0,0,1);
}
.innerhomeplaybutton img{
    width: 40%;
    height: auto;
}

.rpdummyshadow,.rpdummyshadowfixed{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    /* background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0), rgba(0,0,0,0)); */
    background-color: rgba(0,0,0,0.8);
    transition: opacity 0.2s ease-in-out;
}
.rpdummyshadowfixed{
    opacity: 1;
}
.homeartcover:hover .rpdummyshadow{
    opacity: 1;
}