@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}
/* ::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: gray;
}
::-webkit-scrollbar-track{
    width: 10px;
    background-color: transparent;
} */

.divider{
    width: 70%;
    height: 1px;
    background-color: rgba(252,255,255,0.3);
    margin-top: 20px;
    margin-left: 30px;
}

.homemain{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: black;
}
.homemain.start{
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out 0s 1 normal forwards;
}
.homemain.end{
    opacity: 1;
    animation: fadeOut 0.5s ease-in-out 0s 1 normal forwards;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fadeOut {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.leftmain-with-player,.leftmain-without-player{
    width: 16%;
    /* width: 16%; */
    background-color: black;
    /* background-color: #18171f; */
    /* background-color: rgba(138,43,226,0.1); */
    /* padding-top: 30px; */
    overflow-y: auto;
}
.leftmain-with-player::-webkit-scrollbar{
    width: 5px;
}
.leftmain-with-player::-webkit-scrollbar-track{
    width: 5px;
}
.leftmain-with-player::-webkit-scrollbar-thumb{
    width: 5px;
}
.leftmain-with-player{
    height: 88.5%;
}
.leftmain-without-player{
    height: 100%;
}
.midmain-with-player,.midmain-without-player{
    position: relative;
    /* width: 84%; */
    width: 100%;
    /* width: 84%; */
    background-color: #030303;
    /* background-color: #121212; */
    /* background-color: white; */
    /* background-color: rgba(255,255,255,0.3); */
}
.midmain-without-player{
    height: 100%;
    display: flex;
    justify-content: center;
}
.midmain-with-player{
    height: 88.5%;
}
.rightmain{
    width: 20%;
    height: 100%;
    background-color: red;
}
.topbuttons{
    width: 100px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    background-color: transparent;
    /* background-color: blue; */
}
.update{
    width: 200px;
    height: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-color: blueviolet;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.update p{
    font-family: "montserrat";
    font-size: 0.7em;
    color: white;
    margin-left: 20px;
}
.minimize,.maximize,.close{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 50%;
    transform: translate(0%,-50%);
    cursor: pointer;
}
.minimize{
    /* right: 70px; */
    right: 45px;
    background-color: white;
}
.maximize{
    right: 45px;
    /* background-color: green; */
    background-color: white;
}
.close{
    right: 20px;
    background-color: rgba(255,100,0,1);
    /* background-color: white; */
}

.homescreen,.third{
    width: 100%;
    height: 100%;
    padding-top: 60px;
    /* overflow-y: overlay; */
}
.homescreen{
    background-color: #121212;
    /* background-color: #202020; */
    padding-top: 0px;
    /* background-color: white; */
    /* background-color: black; */
    /* background-color: rgba(255,255,255,0.2); */
    /* background-color: blue; */
}
.entiretop{
    position: absolute;
    top: 0;
    right: 0;
    /* width: 84%; */
    /* background-color: aqua; */
    width: 100%;
    height: 60px;
    z-index: 10;
    overflow-y: overlay;
    /* transition: background-color 0.1s ease-in-out; */
}
.topbar{
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: black; */
    display: flex;
    align-items: center;
    /* transition: background-color 0.1s ease-in-out; */
}
.profilebardiv{
    position: absolute;
    /* right: 110px; */
    right: 85px;
    width: auto;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
    background-color: #252525;
    border-radius: 20px;
}
.name{
    /* width: 120px; */
    width: auto;
    height: 35px;
    /* background-color: aqua; */
    color: white;
    font-size: 0.8em;
    font-family: "montserrat";
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 9px 20px 0px 20px;
}
.logoutbutton{
    width: 40px;
    height: 35px;
    /* background-color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}
.logoutbutton img{
    width: 50%;
    height: auto;
    cursor: pointer;
}
.main{
    width: 100%;
    height: 100%;
    position: relative;
    /* background-color: aqua; */
    /* display: flex;
    flex-direction: column; */
    overflow: overlay;
}
.colourtop{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    transition: background-color 0.5s ease-in-out;
    display: flex;
    align-items: flex-end;
    /* background: linear-gradient(to bottom, rgba(122,255,104,0.2),#121212); */
}
.forblur{
    width: 100%;
    height: 10px;
    background-color: #121212;
    box-shadow: 0px -50px 100px 150px #121212;
    /* box-shadow: 0px -50px 100px 150px #202020; */
}
.noncolour{
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    /* overflow: auto; */
}
.loader,.smallloader{
    width: 100%;
    height: 500px;
    /* height: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aliceblue; */
}
.smallloader{
    height: 100px;
}
.loaderinner{
    width: 200px;
    height: 80px;
    /* background-color: aliceblue; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.one,.two,.three{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 8px;
    background-color: rgba(255,255,255,0.5);
}
.one{
    animation: loader 0.5s ease-in-out 0s infinite normal forwards;
}
.two{
    animation: loader 1s ease-in-out 0.25s infinite normal forwards;
}
.three{
    animation: loader 1s ease-in-out 0.75s infinite normal forwards;
}
@keyframes loader {
    0%{
        background-color:rgba(255,255,255,0.5);
    }
    50%{
        background-color: white;
    }
    /* 60%{
        background-color: aqua;
    } */
    100%{
        background-color: rgba(255,255,255,0.5);
    }
}
.outline{
    width: 100%;
    /* height: 30vw; */
    /* background-color: #121212; */
    background-color: transparent;
    /* background-color: #000000; */
    margin-top: 15px;
    margin-bottom: 15px;
    /* background-color: blue; */
}
.maintitle,.bigmaintitle{
    width: 100%;
    height: 40px;
    /* background-color: aliceblue; */
    display: flex;
    align-items: center;
    position: relative;
}
.bigmaintitle{
    margin-top: 10px;
    margin-bottom: 10px;
}
.maintitle p, .bigmaintitle p{
    color: white;
    font-size: 1.3em;
    font-family: "montserrat";
    font-weight: 600;
    margin-left: 30px;
    padding-right: 5px;
    /* letter-spacing: -1px; */
}
.bigmaintitle p {
    font-size: 2em;
    /* letter-spacing: -1px; */
    font-weight: 700;
}
.viewmore{
    position: absolute;
    right: 20px;
    width: 100px;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 5px;
}
.viewmore p{
    color: rgba(255,255,255,0.5);
    font-size: 0.8em;
    font-family: "montserrat";
    margin: 0px;
    margin-bottom: 5px;
    cursor: pointer;
}
.viewmore p:hover{
    text-decoration: underline;
}
.list{
    width: 100%;
    /* height: calc(30vw - 70px); */
    /* height: 300px; */
    height: 22.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    /* padding-left: 8px; */
    /* overflow: auto; */
    /* background-color: aqua; */
}
.innerlist{
    height: 100%;
    width: 95%;
    /* background-color: blue; */
    display: grid;
    grid-template-columns: repeat(5,minmax(200px,20%));
    /* grid-column-gap: 8px; */
    grid-column-gap: 5px;
    /* grid-template-rows: 300px; */
}
.cover{
    /* min-width: 20%; */
    /* max-width: 20%; */
    width: 100%;
    height: 100%;
    position: relative;
    /* padding: 0px 10px 0px 10px; */
    padding: 0px 8px 0px 8px;
    /* padding: 15px; */
    /* padding: 0px 8px 0px 8px; */
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner{
    position: relative;
    width: 100%;
    height: 90%;
    /* background-color: #101010; */
    /* background-color: #181818; */
    /* background-color: #202020; */
    /* background-color: transparent; */
    /* background-color: rgba(0,0,0,0.3); */
    /* background-color: blueviolet; */
    /* padding: 15px; */
    /* padding: 10px; */
    padding: 8px;
    /* padding: 20px; */
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    overflow: hidden;
}
.inner:hover{
    /* background-color: rgba(255,255,255,0.1); */
    /* background-color: #252525; */
    /* background-color: #303030; */
    /* background-color: #212121; */
    /* background-color: rgba(0,0,0,0.5); */
    /* box-shadow: 0px 0px 50px black inset; */
}
.coverimg{
    width: 100%;
    /* height: 170px; */
    height: 70%;
    border-radius: 3px;
    /* box-shadow: 0px -50px 50px 0px #000000; */
    /* height: auto; */
    /* background-color: blue; */
    /* background-color: transparent; */
    /* position: relative; */
    /* overflow: hidden; */
    /* border-radius: 5px; */
    /* box-shadow: 0px 0px 50px 0px #000000; */
}
.inner:hover .coverimg{
    /* box-shadow: 0px 0px 50px 0px #000000; */
}
.floatbutton{
    position: absolute;
    right: 15px;
    bottom: -40px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    transition: bottom 0.2s ease-in-out;
}
.floatbutton img{
    width: 15px;
    height: auto;
}
/* .inner:hover .coverimg .floatbutton{
    bottom: 15px;
} */
.innercoverimg{
    width: 100%;
    height: auto;
    /* position: absolute; */
    border-radius: 5px;
    /* border-radius: 50%; */
    margin-bottom: 5px;
    /* box-shadow: -1px -1px 50px 0px #000000; */
    /* box-shadow: 0px 0px 20px 20px #000000; */
}
/* .coverimg::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 97.5%;
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;
}
.inner:hover .coverimg::before{
    background-color: rgba(0,0,0,0.5);
} */
.homeplaybutton-start,.homeplaybutton-end{
    position: absolute;
    right: 8px;
    width: 40px;
    height: 40px;
    background-color: blueviolet;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: bottom 0.3s ease-in-out;
}
.homeplaybutton-start{
    bottom: -50px;
}
.homeplaybutton-end{
    bottom: 20px;
}
.homeplaybutton-start img,.homeplaybutton-end img{
    width: 15px;
    height: auto;
}
.album,.artist{
    font-family: "montserrat";
    font-weight: 600;
}
.album{
    position: absolute;
    bottom: 40px;
    /* bottom: 50px; */
    /* left: 17px; */
    left: 8px;
    width: 160px;
    color: white;
    font-size: 1em;
    /* font-weight: 700; */
    font-weight: 500;
    cursor: pointer;
    margin: 10px 5px 0px 0px;
    height: 25px;
    /* background-color: aliceblue; */
    letter-spacing: -1px;
    padding-right: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.artist{
    position: absolute;
    bottom: 10px;
    /* bottom: 20px; */
    /* left: 17px; */
    left: 8px;
    width: 160px;
    font-size: 0.8em;
    cursor: pointer;
    font-weight: 500;
    margin: 0px 5px 15px 0px;
    color: rgba(255,255,255,0.5);
    height: 15px;
    /* background-color: blue; */
    /* letter-spacing: -1px; */
    padding-right: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.third{
    background-color: blueviolet;
}

.mainpanel-without-player,.mainpanel-with-player{
    /* position: relative; */
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
}
.mainpanel-with-player{
    height: calc(100% - 70px);
}
.mainpanel-without-player{
    height: 100%;
    /* background-color: aqua; */
}

.logodiv{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    /* background-color: aqua; */
}
.logodiv img{
    width: 42px;
    height: auto;
    cursor: pointer;
}
.logodiv p{
    font-size: 1.8em;
    color: white;
    font-family: "montserrat";
    margin-left: 5px;
    cursor: pointer;
    letter-spacing: -1px;
    font-weight: 600;
    padding-right: 5px;
}

.headlist{
    width: 100%;
    margin-top: 10px;
}
.each,.eachactive{
    width: 100%;
    height: 35px;
    margin-top: 5px;
    /* background-color: blue; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.eachactive{
    /* border-left: 5px solid blueviolet; */
    /* border-left: 5px solid white; */
    border-left: 5px solid aquamarine;
}
.each img,.eachactive img{
    width: 15px;
    height: 15px;
    margin-left: 35px;
    overflow: hidden;
}
.eachactive img{
    margin-left: 30px;
}
.each p,.eachactive p{
    font-size: 0.8em;
    font-family: "montserrat";
    font-weight: 600;
    margin-left: 20px;
    /* padding-top: 3px; */
}
.each p{
    color: rgba(255,255,255,0.5);
}
.eachactive p{
    color: white;
}
.each:hover p{
    color: white;
}

.listbutton,.playlist{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    /* margin-bottom: 10px; */
    display: flex;
    align-items: center;
    cursor: pointer;
    /* background-color: aqua; */
}
.listbutton p,.playlist p{
    color: rgba(255,255,255,0.5);
    font-size: 0.8em;
    font-family: "montserrat";
    font-weight: 600;
    /* transition: color 0.3s ease-in-out; */
}
.listbutton img{
    width: 20px;
    height: auto;
    margin-left: 40px;
}
.listbutton p{
    /* margin-left: 40px; */
}
.playlist p{
    margin-left: 35px;
} 
.listbutton:hover p,.playlist:hover p{
    color: white;
}
.active,.active1{
    /* border-left: 5px solid white; */
    border-left: 5px solid aquamarine;
}
.active p{
    color: white;
    /* margin-left: 35px; */
}
.active1 p{
    color: white;
    /* margin-left: 45px; */
    margin-left: 30px;
}

.container{
    width: 100%;
    height: 100%;
    margin-top: 10px;
    /* background-color: gray; */
}

.playlisttitle{
    color: rgba(255,255,255,0.5);
    width: 100%;
    font-size: 0.9em;
    font-family: "montserrat";
    font-weight: 600;
    cursor: auto;
    margin: 30px 0px 20px 0px;
    padding-left: 35px;
    /* background-color: aqua; */
}

.playlisttitlebutton{
    color: rgba(255,255,255,0.5);
    font-size: 0.8em;
    font-family: "montserrat";
    font-weight: 600;
    cursor: auto;
    margin: 20px 0px 10px 35px;
}
.playlisttitlebutton{
    cursor: pointer;
}

.opener{
    position: absolute;
    /* top: 300px; */
    /* left: 50px; */
    z-index: 20;
    /* width: 200px; */
    min-width: 250px;
    /* height: 500px; */
    border-radius: 1px;
    padding: 5px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #202020;
    border: 1px solid rgba(252,255,255,0.1);
    transition: background-color 0.2s ease-in-out;
}
.profile-opener{
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 10;
    width: 300px;
    /* min-width: 250px; */
    /* height: 500px; */
    border-radius: 1px;
    padding: 5px 0px 15px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #202020;
    border: 1px solid rgba(252,255,255,0.1);
    box-shadow: 0px 0px 20px 3px rgba(0,0,0,1);
    transition: background-color 0.2s ease-in-out;
}
.rowinmenu{
    width: 100%;
    height: 50px;
    padding: 0px 20px 0px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
.rowinmenu:hover{
    background-color: #303030;
}
.rowtext{
    font-family: "montserrat";
    font-size: 0.9em;
    letter-spacing: -1px;
    font-weight: 500;
    color: white;
    padding-right: 10px;
}
.account-section{
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(252,255,255,0.1);
    margin-bottom: 5px;
}
.account-picture{
    width: 100%;
    height: 80px;
    /* background-color: aliceblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.center-picture{
    width: 70px;
    height: 70px;
    border-radius: 35px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-picture-img{
    width: 100%;
    height: auto;
}
.account-name,.account-email{
    width: 100%;
    height: 30px;
    /* background-color: aliceblue; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
    color: white;
    font-weight: 600;
    padding: 0px 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.account-email{
    color: rgba(255,255,255,0.5);
    font-size: 0.9em;
}


.responsebar{
    position: absolute;
    /* bottom: 20px;
    left: 20px; */
    width: auto;
    left: 30px;
    height: 60px;
    border-radius: 5px;
    background-color: #202020;
    z-index: 8;
    display: flex;
    /* box-shadow: 0px 0px 20px 3px rgba(255,255,255,0.05); */
    /* box-shadow: 0px 0px 10px 3px rgba(0,0,0,1); */
}
.responsebar.up{
    bottom: -100px;
    animation: goUp 0.3s ease-in-out 0s 1 normal forwards;
}
.responsebar.down{
    bottom: 100px;
    animation: goDown 0.3s ease-in-out 0s 1 normal forwards;
}
.responsebar.start{
    bottom: -100px;
}
@keyframes goUp{
    0%{
        bottom: -100px;
    }
    100%{
        bottom: 100px;
    }
}
@keyframes goDown{
    0%{
        bottom: 100px;
    }
    100%{
        bottom: -100px;
    }
}
.tickbar{
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}
.innertick{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.innertick img{
    width: 60%;
    height: auto;
}
.message{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
    padding: 0px 30px 0px 30px;
    color: white;
    font-family: "montserrat";
    font-size: 0.9em;
}

.shortcuts{
    width: 100%;
    /* height: 300px; */
    /* background-color: black; */
}
.row{
    width: 100%;
    height: 100px;
    /* background-color: #002D62; */
    padding: 0px 40px 0px 40px;
    /* margin-bottom: 5px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rowfirst{
    position: relative;
    width: 32%;
    height: 80px;
    background-color: rgba(255,255,255,0.1);
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.rowfirst:hover{
    background-color: rgba(255,255,255,0.2);
}
.rowimage{
    height: 100%;
    width: auto;
    box-shadow: 0px 0px 50px 0px black;
}
.rowname{
    width: 195px;
    color: white;
    margin-left: 15px;
    font-family: "montserrat";
    font-size: 0.9em;
}

.rowplaybuttoncontainer, .rowplaybuttoncontainer-stay{
    position: absolute;
    width: 70px;
    height: 100%;
    right: 10px;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease-in-out;
}
.rowplaybuttoncontainer-stay{
    opacity: 1;
}
.rowplaybuttoncontainer{
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.rowfirst:hover .rowplaybuttoncontainer{
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    transition-delay: 0.5s;
}
.rowplaybutton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgba(56,202,153,1);
    box-shadow: 0px 1px 10px #121212;
    transition: background-color 0.3s ease-in-out;
}
.rowplaybutton:hover{
    background-color: rgb(42, 167, 125);
}
.rowplaybutton img{
    width: 18px;
    height: auto;
}

.floater,.floater-stay{
    position: absolute;
    bottom: 50px;
    right: 0px;
    width: 75px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease-in-out;
}
.floater{
    opacity: 0;
}
.floater-stay{
    opacity: 1;
}
.inner:hover .floater{
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    transition-delay: 0.5s;
}

.blackblurtop, .blackblurbottom{
    position: absolute;
    width: 100%;
    height: 5px;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0px 0px 20px 30px rgba(0,0,0,0.5);
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}
.blackblurtop{
    top: 0;
}
.blackblurbottom{
    bottom: 0;
}
.blackblurtop.hidden, .blackblurbottom.hidden{
    opacity: 0;
}



.full-display{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-full-display{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    animation: appear 1s ease-in-out 0.3s 1 normal forwards;
    /* transition: background-color 1s ease-in-out; */
}
@keyframes appear{
    to {
        opacity: 1;
    }
}
.bottombar{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: black;
    box-shadow: 0px 0px 70px 50px black;
}
.imageholder{
    /* position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%); */
    margin-top: 10vh;
    width: 50vh;
    height: 50vh;
    box-shadow: 0px 10px 50px 0px rgba(0,0,0,0.5);
}
.imageholder img{
    width: 100%;
    height: auto;
}
.display-title{
    margin-top: 50px;
    color: white;
    font-family: "montserrat";
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.5px;
}

.controls-container{
    width: 30vh;
    height: 100px;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: aquamarine; */
    /* padding: 0px 30px; */
}
.button-control{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303030;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin: 0px 8px;
    transition: background-color 0.1s ease-in-out;
}
.button-control:hover{
    background-color: #505050;
}
.button-control:nth-child(2){
    width: 70px;
    height: 70px;
}
.button-control img{
    width: 30%;
    height: auto;
}
.button-control:nth-child(2) img{
    width: 40%;
    height: auto;
}