*{
    font-family: "montserrat";
    /* font-family: sans-serif; */
}

.queue{
    /* width: 100%; */
    /* max-width: 1600px; */
    height: 100%;
    /* background-color: blue; */
    /* padding-top: 60px; */
    transition: background-color 0.3s ease-in-out;
    /* overflow: auto; */
    /* overflow-y: overlay; */
    /* background-size: 1000%; */
    /* animation: backg 5s linear 0s infinite normal forwards; */
}
@keyframes backg {
    0%{
        background-position: 100% 0%;
    }
    50%{
        background-position: 50% 50%;
    }
    100%{
        background-position: 0% 100%;
    }
}

.queuetitle{
    width: 100%;
    height: 60px;
    /* background-color: white; */
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 35px;
    font-family: "montserrat";
    font-size: 1.4em;
    font-weight: 600;
    color: white;
}
.nowplayingtitle{
    width: 100%;
    height: 20px;
    /* padding-left: 35px; */
    /* padding-right: 80px; */
    /* margin-top: 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: black; */
    /* font-family: "montserrat"; */
    font-size: 0.7em;
    /* color: rgba(255,255,255,0.5); */
    color: #909090;
}
.frontblock{
    width: 500px;
    height: 100%;
    /* display: flex;
    justify-content: flex-start;
    align-items: center; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 3px;
    /* background-color: #909090; */
    /* font-family: "montserrat";
    font-size: 0.8em;
    color: rgba(255,255,255,0.5); */
}
.backblock{
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}
.backblock:hover{
    text-decoration: underline;
}

.nowplaying{
    width: 100%;
    height: 60px;
    /* background-color: white; */
    /* padding: 5px; */
    /* margin-top: 10px;
    margin-bottom: 30px; */
}
.innernowplaying{
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    /* background-color: #202020; */
    /* border-radius: 5px; */
    /* padding: 5px; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.firstpartifnowplaying{
    width: 50px;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}
.firstpart{
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #909090;
    font-size: 0.9em;
    margin-left: 5px;
    /* background-color: blue; */
}
.nowplayingart{
    width: 50px;
    height: 100%;
    /* background-color: white; */
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nowplayingart img{
    width: 70%;
    height: auto;
    border-radius: 2px;
}
.queuesongdetails{
    width: 220px;
    height: 80%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
}
.startingpart{
    /* width: 40%; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: blue; */
}
.playingsongname,.playingsongartist{
    width: 220px;
    height: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* font-family: "roboto"; */
}
.playingsongname{
    /* background-color: blue; */
    font-size: 0.9em;
    font-weight: 500;
    letter-spacing: -0.5px;
    padding-top: 5px;
    padding-right: 5px;
}
.playingsongartist{
    /* background-color: #181818; */
    /* padding-top: 5px; */
    font-size: 0.9em;
    color: #909090;
    font-weight: 500;
    letter-spacing: -0.5px;
    padding-right: 5px;
}

.centerpart{
    /* width: 30%; */
    /* width: 270px; */
    width: 10px;
    height: 15px;
    /* background-color: aqua; */
    font-size: 0.8em;
    font-family: "montserrat";
    color: rgba(255,255,255,0.8);
    font-weight: 500;
    /* letter-spacing: -2px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lastpart{
    position: absolute;
    top: 0;
    right: 5px;
    width: 50px;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #909090;
    font-size: 0.9em;
    letter-spacing: -1px;
}
.lastpartduration{
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    font-family: "montserrat";
    color: rgba(255,255,255,0.5);
    font-weight: 600;
    /* background-color: aqua; */
}
.removesong{
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.queuelist{
    width: 100%;
    height: auto;
    /* background-color: aqua; */
    padding: 5px 30px;
    margin-bottom: 30px;
}
.queuelistsong{
    width: 100%;
    height: 60px;
    /* background-color: aliceblue; */
    /* background-color: transparent; */
    margin: 5px 0px;
    /* margin: 5px 30px; */
    padding: 0 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    transition: background-color 0.1s ease-in-out;
    cursor: pointer;
}
.queuelistsong:hover{
    background-color: rgba(255,255,255,0.1);
}
.dummyanim{
    width: 20px;
    height: 100%;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    font-family: "montserrat";
    color: rgba(255,255,255,0.5);
    font-weight: 600;
}

.queuesongname{
    /* background-color: aqua; */
    /* width: 300px; */
    width: 200px;
    /* display: flex; */
    justify-content: flex-start;
    align-items: flex-end;
    padding-top: 5px;
    padding-bottom: 0px;
    font-size: 0.8em;
    color: white;
    font-weight: 600;
    font-family: "montserrat";
    /* letter-spacing: -2px; */
    padding-right: 5px;
    height: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.queuesongartist{
    /* background-color: aquamarine; */
    width: 300px;
    justify-content: flex-start;
    align-items: flex-start;
    /* padding-top: 5px; */
    font-size: 0.7em;
    font-family: "montserrat";
    color: rgba(255,255,255,0.5);
    font-weight: 500;
    height: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.nowplaying2{
    width: 100%;
    height: 300px;
    padding: 5px 30px;
    /* border-radius: 5px; */
    /* background-color: #181818; */
}
.innernowplaying2{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #181818;
}

.bottomqueue{
    width: 100%;
    /* width: 1600px; */
    /* height: calc(100% - 40px); */
    /* height: calc(100% - 70px); */
    height: 100%;
    padding-bottom: 70px;
    display: flex;
    justify-content: center;
    /* background-color: #030303; */
    background-color: #000000;
    /* background-color: blue; */
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    transition: transform 0.2s ease-in-out;
    /* transition: transform 0.2s linear; */
    /* animation: queueShow 0.3s ease-in-out 0s 1 normal forwards; */
}
.bottomqueue.hide{
    transform: translateY(calc(100% + 70px));
}
.bottomqueue.show{
    transform: translateY(0px);
}
.bottomqueue.stay{
    transform: translateY(calc(100% + 70px));
}
.bottomqueue.down{
    top: 0;
    animation: queueDown 0.2s cubic-bezier(0.4,0,0.2,1) 0s 1 normal forwards;
}
.bottomqueue.up{
    top: 100%;
    animation: queueUp 0.2s cubic-bezier(0.4,0,0.2,1) 0s 1 normal forwards;
}
.bottomqueue.start{
    top: 100%;
    display: none;
}
@keyframes queueDown{
    0%{
        top: 0;
    }
    100%{
        top: 100%;
    }
}
@keyframes queueUp{
    0%{
        top: 100%;
    }
    100%{
        top: 0;
    }
}
.innerbottomqueue{
    /* width: 1700px; */
    width: 100%;
    height: 100%;
    display: flex;
    /* background-color: aqua; */
}

.leftqueuepart{
    width: 50%;
    height: 100%;
    position: relative;
    /* background-color: white; */
    /* display: flex; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* padding-left: 120px; */
    /* padding-right: 30px; */
    /* align-items: flex-start; */
    /* align-items: center; */
    /* padding-bottom: 45px; */
    /* box-shadow: inset 0px 0px 500px white; */
}
.leftalbumartcover-container,.art-lyrics{
    width: calc(68vh + 1px);
    height: calc(68vh + 1px);
    position: absolute;
    top: 50%;
    right: 4%;
    transform: translate(0%,-50%);
    /* background-color: aqua; */
}
.dummyforshadow{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    background: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0), rgba(0,0,0,0))
}
.icons{
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 80px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
.expander,.minimizer{
    width: auto;
    height: 16px;
    margin: 0px 15px;
    cursor: pointer;
}
/* .expander,.minimizer{
    position: absolute;
    top: 30px;
    right: 30px;
    height: 16px;
    width: auto;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
.minimizer{
    top: 30px;
    right: 80px;
    height: 16px;
    width: auto;
} */
.leftalbumartcover{
    position: relative;
    /* height: 500px;
    width: 500px; */
    width: 100%;
    height: 100%;
    /* cursor: pointer; */
    /* margin-right: 20px; */
}
.art-lyrics{
    width: 69vh;
    height: 69vh;
    padding: 10px;
    background-color: rgba(0,0,0,0.85);
}
.leftalbumartcover:hover .dummyforshadow{
    opacity: 1;
}
/* .leftalbumartcover:hover .expander,.leftalbumartcover:hover .minimizer{
    opacity: 1;
} */
.leftalbumartcover:hover .icons{
    opacity: 1;
}
.leftqueuealbumart{
    width: auto;
    height: 100%;
}
.leftalbumcontainer{
    /* width: 330px; */
    width: 10vw;
    /* width: 290px; */
    /* height: 330px; */
    height: 10vw;
    /* height: 290px; */
    background-color: #181818;
    border-radius: 10px;
    margin-top: 40px;
    /* margin-top: 30px; */
    /* margin-top: 15%; */
    padding: 15px;
    /* padding: 20px; */
    box-shadow: 5px 5px 50px black;
}
.leftalbumcontainer img{
    /* width: 300px; */
    /* width: 290px; */
    width: 100%;
    /* height: 300px; */
    /* height: 290px; */
    height: auto;
    /* border-radius: 10px; */
}
.rightqueuepart{
    width: 50%;
    height: 100%;
    /* background-color: blue; */
    /* background-color: transparent; */
    /* overflow-y: overlay; */
    display: flex;
    /* justify-content: flex-end; */
    justify-content: center;
    /* justify-content: flex-start; */
    align-items: center;
    /* padding-left: 100px; */
    /* padding-left: 10%; */
}
.innerrightqueue{
    /* width: 65%; */
    width: 400px;
    /* width: 70%; */
    /* height: 100%; */
    height: 70vh;
    /* background-color: aqua; */
    /* padding-top: 50px; */
    /* margin-right: 100px; */
}

.scrollcontainer{
    width: 100%;
    height: calc(100% - 160px);
    /* background-color: blue; */
    /* overflow-y: overlay; */
}

.scrollcontainer::-webkit-scrollbar{
    width: 3px;
}





.new-right-queue{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* background-color: aquamarine; */
    /* align-items: center; */
    /* padding-left: 150px;
    padding-right: 50px; */
    /* padding-bottom: 10px; */
}
.right-inner-queue{
    /* width: 450px; */
    width: 100%;
    /* max-width: 700px; */
    height: 92%;
    margin: 5% 10% 0% 25%;
    /* background-color: aqua; */
}
.tab-bar{
    width: 100%;
    height: 50px;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.each-tab{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.9em;
    cursor: pointer;
}
.each-tab.active-tab{
    border-bottom: 1px solid white;
    padding-top: 1px;
}
.each-tab.light{
    color: rgba(255,255,255,0.5);
}
.tab-container{
    width: 100%;
    height: calc(100% - 50px);
    /* background-color: #909090; */
    /* overflow-y: overlay; */
    position: relative;
}
.tab-container::-webkit-scrollbar{
    width: 0px;
}
.tab-container.show::-webkit-scrollbar{
    width: 10px;
}
.tab-container::-webkit-scrollbar-track{
    width: 10px;
    /* border-left: 1px solid rgba(128,128,128,0.2); */
    /* background-color: #202020; */
}
.tab-container::-webkit-scrollbar-thumb{
    width: 10px;
    /* background-color: rgba(255,255,255,0.3); */
    background-color: #505050;
    /* transition: background-color 0.5s ease-in-out; */
}

.each-song,.small-each-song{
    /* width: calc(100% - 10px); */
    width: 100%;
    /* width: 440px; */
    height: 60px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #030303;
    padding-right: 10px;
}
.small-each-song{
    height: 20px;
}
.each-song:hover{
    /* background-color: #151515; */
}
.each-song.active-song{
    /* background-color: rgba(255,255,255,0.1); */
    background-color: #151515;
}
.absolute{
    position: absolute;
    z-index: 100;
    left: 0;
    background-color: #202020;
}
.song-album{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* padding: 15px; */
}
.song-album-img{
    width: 100%;
    height: auto;
    margin: 15px;
}
.song-album-cover, .song-album-cover-hidden{
    position: absolute;
    left: 15px;
    top: 15px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.9);
    /* opacity: 0; */
}
.song-album-cover-img{
    width: 60%;
    height: auto;
    cursor: pointer;
}
.song-album-cover-hidden{
    opacity: 0;
}
.each-song:hover .song-album-cover-hidden{
    opacity: 1;
}

.song-body{
    width: calc(100% - 110px);
    height: 100%;
    cursor: move;
}
.song-body-upper{
    width: 100%;
    height: 50%;
    /* background-color: blue; */
    color: white;
    font-size: 0.9em;
    font-weight: 500;
    display: flex;
    align-items: flex-end;
    /* letter-spacing: -0.5px; */
    padding-right: 20px;
}
.song-body-upper div, .song-body-lower div{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* background-color: aqua; */
}
.song-body-lower{
    width: 100%;
    height: 50%;
    /* background-color: aqua; */
    color: rgba(255,255,255,0.6);
    font-size: 0.9em;
    font-weight: 500;
    letter-spacing: -0.5px;
    padding-right: 20px;
}

.song-options{
    width: 50px;
    height: 60px;
    /* background-color: aliceblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    font-weight: 500;
    color: rgba(255,255,255,0.6);
    letter-spacing: -0.5px;
}

.fullcover{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer-lyrics-part{
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    /* overflow: auto; */
    /* padding-top: 50px;
    padding-bottom: 100px; */
    /* padding-top: 30%; */
    /* padding-bottom: 40%; */
}
.lyrics-part{
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    overflow: auto;
    /* padding-top: 50px;
    padding-bottom: 100px; */
    padding-top: 30%;
    padding-bottom: 40%;
}
.lyrics-part::-webkit-scrollbar{
    width: 0px;
}
.no-lyrics{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #909090;
    font-size: 1em;
    font-weight: 600;
}
.sync-definer{
    position: absolute;
    top: 10px;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%);
    width: auto;
    height: 40px;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999999;
    font-size: 0.7em;
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.3);
}
.each-lyric{
    width: 100%;
    height: auto;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 1em;
    font-weight: 600;
    /* color: #909090; */
    color: #505050;
    padding: 20px;
    /* text-align: center; */
    text-align: left;
}
.art-each-lyric{
    width: 100%;
    height: auto;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 1em;
    font-weight: 600;
    /* color: #909090; */
    color: #505050;
    padding: 20px;
    text-align: left;
    /* text-align: center; */
}
.each-lyric.activetext,.art-each-lyric.activetext{
    color: white;
    /* font-size: 1.6em; */
    font-size: 1.75vw;
    font-weight: 700;
    /* margin: 30px 0px; */
    margin: 1vw 0px;
    padding: 1.5vw;
    background-color: #151515;
    /* border-radius: 10px; */
}
.art-each-lyric{
    font-size: 1.1em;
    padding: 15px 20px;
}
.art-each-lyric.activetext{
    font-size: 2.5em;
    /* padding: 80px 20x; */
    margin: 40px 0px;
    background-color: transparent;
}
.art-each-lyric.disappear{
    /* color: rgba(0,0,0,0.8); */
    /* color: transparent; */
    color: #505050;
}

.close-lyrics{
    position: absolute;
    /* top: -100px; */
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    /* background-color: white; */
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.close-lyrics img{
    width: 50%;
    height: auto;
}
.close-lyrics.stay{
    top: -50px;
}
.close-lyrics.come-down{
    top: -50px;
    animation: come-down 0.2s ease-in-out 0s 1 normal forwards;
}
@keyframes come-down{
    0%{
        top: -50px;
    }
    100%{
        top: 20px;
    }
}
.close-lyrics.go-up{
    top: 20px;
    animation: go-up 0.2s ease-in-out 0s 1 normal forwards;
}
@keyframes go-up{
    0%{
        top: 20px;
    }
    100%{
        top: -50px;
    }
}