.searchmain{
    width: 100%;
    height: 100%;
    padding-top: 60px;
    /* background-color: aqua; */
    position: relative;
    overflow-y: overlay;
}

.searchrelated{
    width: 500px;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
    /* margin-bottom: 30px; */
    /* background-color: aliceblue; */
}
.searchbar{
    width: 350px;
    height: 35px;
    border-radius: 20px;
    border: none;
    outline: none;
    display: flex;
    background-color: rgba(255,255,255,1);
    /* background-color: #000000; */
    
}
.searchimg{
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}
.searchimg img{
    width: 20px;
    height: auto;
}

.searchinput{
    width: 300px;
    height: 100%;
    /* padding: 0px 40px; */
    border: none;
    outline: none;
    font-size: 0.9em;
    font-family: "montserrat";
    font-weight: 500;
    letter-spacing: -1px;
    background-color: transparent;
    color: black;
}

.clearinput{
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clearinput img{
    width: 25px;
    height: auto;
    cursor: pointer;
}

.smain{
    width: 100%;
    /* height: calc(100% - 90px); */
    /* background-color: aqua; */
    /* display: flex;
    flex-direction: column; */
    /* overflow: auto; */
}

.songlist{
    width: 100%;
    height: 80px;
    /* background-color: aliceblue; */
    margin: 5px 0px 5px 0px;
    padding: 0px 30px 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.leftlist{
    width: 49%;
    height: 90%;
    /* background-color: #181818; */
    border-radius: 8px;
    display: flex;
    align-items: center;
    position: relative;
    transition: background-color 0.1s ease-in-out;
    cursor: pointer;
}
/* .leftlist:hover{
    background-color: rgba(255,255,255,0.1);
} */
.leftalbumart{
    width: 15%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.innerleftalbumart{
    width: 55px;
    height: 55px;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.leftalbumart img{
    width: 50px;
    /* width: 100%; */
    height: auto;
    /* border-radius: 8px; */
    /* box-shadow: 0px 0px 100px 1px black; */
}

.names{
    width: 300px;
    height: 70px;
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.songtitlename{
    width: 300px;
    height: 20px;
    /* background-color: aqua; */
    /* display: flex;
    justify-content: flex-start;
    align-items: flex-end; */
    padding-bottom: 2px;
    padding-left: 5px;
    font-family: "montserrat";
    font-size: 0.9em;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.songartist{
    width: 300px;
    height: 15px;
    /* background-color: aqua; */
    /* display: flex;
    justify-content: flex-start;
    align-items: flex-start; */
    /* padding-top: 2px; */
    padding-left: 5px;
    font-family: "montserrat";
    font-size: 0.7em;
    color: rgba(255,255,255,0.5);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.songalbum{
    width: 70px;
    height: 15px;
    /* background-color: white; */
    font-family: "montserrat";
    font-size: 0.7em;
    color: rgba(255,255,255,0.5);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.songplay{
    width: 70px;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.songplay.hidden{
    display: none;
}
.innersongplay{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: aquamarine;
    transition: background-color 0.1s ease-in-out;
}
.innersongplay:hover{
    background-color: rgba(127,255,212,0.7);
}
.innersongplay img{
    width: 20px;
    height: auto;
}

.noresults{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "montserrat";
    font-size: 1.7em;
    letter-spacing: -1px;
    font-weight: 500;
    color: rgba(255,255,255,0.5);
}

.recommendedrow{
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding: 0px 30px 0px 30px;
}
.eachitem{
    width: 50%;
    height: 100%;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
}
.songitem{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
    padding: 15px;
    /* box-shadow: 0px 0px 100px #121212 inset; */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202020;
}
.innersongitem{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
/* .innersongitem::before{ */
.fullscreen{
    /* content: "";
    position: absolute; */
    position: relative;
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    /* background-color: rgba(0,0,0,0.8); */
    transition: background-color 0.3s ease-in-out;
}
.actualcontents{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    box-shadow: 0px 0px 50px black inset;
}
.itemart{
    width: 150px;
    height: auto;
    box-shadow: 20px 20px 150px black;
}
.itemalbum{
    width: 100%;
    height: 100px;
    margin: 0px 0px 10px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-family: "montserrat";
    font-weight: 700;
    font-size: 2em;
    letter-spacing: -1px;
    color: rgba(255,255,255,0.7);
    /* background-color: aliceblue; */
}




.top-search-bar-container{
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
}
.search-bar{
    width: 95%;
    height: 70%;
    border-radius: 2px;
    background-color: #202020;
    border: 1px solid rgba(255,255,255,0.1);
    display: flex;
}
.back-container, .input-container, .close-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.back-container{
    width: 8%;
    background-color: aliceblue;
}
.input-container{
    width: 84%;
    background-color: blue;
}
.close-container{
    width: 8%;
    background-color: aqua;
}